.itemscontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: .5rem;
  flex-wrap: wrap;
  align-self: flex-start;
}
.selectcontainer {
  align-self: flex-end;
  display: flex;
}
.filters-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 252px;
  max-width: 252px;
  flex-direction: column;
  height: max-content;
  padding-block: .8rem;
}
.filters-section > div{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: flex-start;
  width: 100%;
  padding: 0.64em;
  border:1px solid #e6e6e6;
}
.filters-section > div > h3{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 0 18px;
  clear: both;
  color: #282c3f;
  display: block;
}
label{
  color: black;
}
label[for="men"],label[for="women"] {
  font-weight: bold;
}
@media screen and (min-width: 1024px) {
}

/* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
  .itemscontainer {
    gap: 7px;
    padding: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .selectcontainer {
    justify-content: space-between;
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    z-index: 5;
    padding: 0.5em;
  }
  .itemscontainer a{
    width: 100%;
  }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
}

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
}
