.shimmercard {
  height: max-content;
  padding: 0.64em 0.76em;
  width: 212px;
}
.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-text {
  margin-top: 12px;
  width: 100%;
  margin-bottom: 10px;
  height: 14px;
}
.skeleton-text:last-child {
  width: 80%;
}
.img {
  width: 210px;
  height: 210px;
}
