.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: rgba(255, 255, 255, 0.984) !important;
  overflow-x: hidden;
}
.card-profile-img.Sirv:not([width]):not([height]) {
  width: 210px;
}
.productdetail-img.Sirv{
  display: block;
}